* {
    padding: 0px;
    margin: 0px;
}

#nav {
    position: fixed;
    width: 100vw;
    height: 240px;
    z-index: 4;
    background-image: linear-gradient(to bottom, rgb(0,0,0,1), rgba(0,0,0,0));
    pointer-events: none;
}

.nav-line {
    position: fixed;
    width: 100vw;
    height: 6px;
    background-color: #ffffff;
    z-index: 5;
}

.nav-logo-sq {
    position: fixed;
    width: 136px;
    height: 118px;
    left: 153px;
    top: 0px;
    background-color: #ffffff;
    z-index: 5;
}

.logo {
    position: absolute;
    width: 106px;
    height: 80px;
    left: 15px;
    bottom: 15px;
    cursor: pointer;
}

.lang-cont {
    position: fixed;
    width: 88px;
    height: 20px;
    right: 228px;
    top: 54px;
    z-index: 5;
}

.lang-txt {
    position: absolute;
    width: 53px;
    height: 15px;
    left: 0px;
    top: 2.5px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
    z-index: 5;
}

.dr-icon {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 0px;
    top: 0px;
    z-index: 5;
}

.menu-icon {
    position: fixed;
    width: 32px;
    height: 32px;
    right: 172px;
    top: 48px;
    z-index: 5;
}


@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeIn2 {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.menu-icon:hover {
    cursor: pointer;
}

#menu-ovl {
    position: fixed;
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 4;
    animation: move 1s 1;
}

/*
.close {
    animation: fadeOut 1s 1;
}

@keyframes fadeOut {
    0% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
    }
}
*/

@keyframes move {
    0% {
        transform: translate(0, -100vh);
    }

    80% {
        transform: translate(0, -0.5vh);
    }

    99% {
        transform: translate(0, -0.05vh);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes move2 {
    0% {
        transform: translate(0, 0);
    }

    80% {
        transform: translate(0, -99.95vh);
    }

    99% {
        transform: translate(0, -99.5vh);
    }

    100% {
        transform: translate(0, -100vh);
    }
}


.menu-cont {
    position: absolute;
    width: 175px;
    height: 337px;
    left: 359px;
    top: 172px;
}

.menu-cont-v2 {
    position: relative;
    width: 100%;
    height: 29px;
    left: 0px;
    top: 0px;
    margin-top: 48px;
    float: left;
}

.menu-cont-v2.active {
    color: #ffc200;
}

.menu-cont-v2:nth-child(1) {
    margin-top: 0px;
}

.menu-numb {
    position: absolute;
    width: 28px;
    height: 100%;
    left: 0px;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: white;
}

.menu-txt {
    position: absolute;
    width: calc(100% - 32px);
    height: 100%;
    right: 0px;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    color: white;
}

.menu-cont-v2:hover .menu-numb,
.menu-cont-v2:hover .menu-txt {
    cursor: pointer;
    color: rgb(104, 55, 238);
}

/* TEAMS */

#teampage {
    position: relative;
    width: 100%;
    height: calc(2757px - 232px);
    display: none;
}

#main-car {
    position: absolute;
    width: 100%;
    height: 691px;
    left: 0px;
    top: 0px;
    background-color: rgb(127, 127, 127);
    z-index: 1;
}

.main-car-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background-color: aquamarine;
}

.item-active {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: bisque;
    z-index: 1;
}

.item {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: bisque;
}

.car-item-title {
    position: absolute;
    width: 279px;
    height: 48px;
    left: calc(50% - 140px);
    top: 400px;
    z-index: 2;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #ffffff;
}

.car-item-txt {
    position: absolute;
    width: 522px;
    height: 64px;
    left: calc(50% - 261px);
    top: 464px;
    z-index: 2;

    font-family: 'Ubuntu';
    font-style: normal;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    color: #ffffff;
}

.ovl-car {
    position: absolute;
    width: 100%;
    height: 400px;
    bottom: 0px;
    background-image: linear-gradient(to bottom, rgb(0,0,0,0), rgba(0,0,0,1));
}

.left-car-ctrl {
    position: absolute;
    width: 64px;
    height: 64px;
    left: 132px;
    top: 304px;
    z-index: 3;
}

.right-car-ctrl {
    position: absolute;
    width: 64px;
    height: 64px;
    right: 132px;
    top: 304px;
    z-index: 3;
}

.left-icon {
    position: absolute;
    width: 100%;
    height: 100%;
}

.right-icon {
    position: absolute;
    width: 100%;
    height: 100%;
}

.scrll-icon {
    position: absolute;
    width: 40px;
    height: 40px;
    left: calc(50% - 20px);
    top: 564px;
    z-index: 4;
}

.bg {
    position: absolute;
    width: 100%;
    height: calc(2757px - 232px);
    background-color: #260A73;
}

.bg-overlay-top {
    position: absolute;
    width: 100%;
    height: 551px;
    top: 691px;
    background-image: linear-gradient(to bottom, rgb(0,0,0,1), rgba(0,0,0,0));
}

.bg-ornament {
    position: absolute;
    width: 100%;
    height: 1333px;
    top: 1137px;
}

.bg-overlay-btm {
    position: absolute;
    width: 100%;
    height: 226px;
    bottom: 0px;
    background-image: linear-gradient(to bottom, rgb(0,0,0,0), rgba(0,0,0,1));
}

.partners-title {
    position: absolute;
    width: 106px;
    height: 24px;
    left: calc(50% - 53px);
    top: 800px;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: white;
}

.partners-line-left {
    position: absolute;
    width: 207px;
    height: 0px;
    left: 0px;
    top: 909px;
    background-color: white;

    border: 4px solid #FFFFFF;
    border-radius: 0px 4px 4px 0px;
}

.partners-line-right {
    position: absolute;
    width: 207px;
    height: 0px;
    right: 0px;
    top: 909px;
    background-color: white;

    border: 4px solid #FFFFFF;
    border-radius: 4px 0px 0px 4px;
}

.partners-car {
    position: absolute;
    width: 778px;
    height: 87px;
    left: calc(50% - 389px);
    top: 853px;
    overflow-x: hidden;
    cursor: grab;
}

/* #scroll-h {
    overflow-x: hidden;
    cursor: grab;
} */

.pcar-inner {
    position: absolute;
    height: 100%;
    display: inline-flex;
}

.pcar-item {
    position: relative;
    width: 126px;
    height: 100%;
    float: left;
    margin-left: 37px;
}

.pcar-item:nth-child(1) {
    margin-left: 0px;
}

.pcar-item:nth-child(6) {
    margin-left: 0px;
}

.partners-btn {
    position: absolute;
    width: 178px;
    height: 40px;
    left: calc(50% - 178px/2);
    top: 968px;
    background-color: #552DC2;
}

.partners-btn-txt {
    position: absolute;
    width: 102px;
    height: 24px;
    left: calc(50% - 51px);
    top: calc(50% - 12px);

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: white;
}

.partners-btn:hover {
    cursor: pointer;
    box-shadow: 0 0 15px rgb(104, 55, 238);
}

.matches-title {
    position: absolute;
    width: 85px;
    height: 24px;
    left: calc(50% - 42.5px);
    top: 1088px;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: white;
}

.matches-car {
    position: absolute;
    width: 1151px;
    height: 176px;
    left: calc(50% - 575.5px);
    top: 1144px;
    overflow-x: hidden;
    cursor: grab;
}

.mcar-inner {
    position: absolute;
    height: 100%;
    display: inline-flex;
}

.mcar-item {
    position: relative;
    width: 530px;
    height: 100%;
    background-color: #232323;
    margin-left: 16px;
    float: left;
}

.mcar-item:nth-child(1) {
    margin-left: 0px;
}

.mcar-item-line {
    position: absolute;
    width: 100%;
    height: 8px;
    top: 0px;
    background-color: #916FEC;
}

.mcar-item-logo {
    position: absolute;
    width: 141px;
    height: 133px;
    left: 18px;
    top: 21px;
}

.mcar-item-title {
    position: absolute;
    width: 294px;
    height: 83px;
    left: 188px;
    top: 35px;
}

h2 {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;

    color: #FFFFFF;
}

.mcar-item-date {
    position: absolute;
    width: 137px;
    height: 19px;
    left: 188px;
    bottom: 35px;
}

h3 {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #FFFFFF;
}

.matches-btn {
    position: absolute;
    width: 178px;
    height: 40px;
    left: calc(50% - 178px/2);
    top: 1352px;
    background-color: #552DC2;
}

.matches-btn-txt {
    position: absolute;
    width: 102px;
    height: 24px;
    left: calc(50% - 51px);
    top: calc(50% - 12px);

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: white;
}

.matches-btn:hover {
    cursor: pointer;
    box-shadow: 0 0 15px rgb(104, 55, 238);
}

.teams-title {
    position: absolute;
    width: 65px;
    height: 24px;
    left: calc(50% - 32.5px);
    top: 1472px;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: white;
}

.teams-car {
    position: absolute;
    width: 1151px;
    height: 436px;
    left: calc(50% - 575.5px);
    top: 1528px;
    overflow-x: hidden;
    cursor: grab;
}

.tcar-inner {
    position: absolute;
    height: 100%;
    display: inline-flex;
}

.tcar-item {
    position: relative;
    width: 324px;
    height: 100%;
    margin-left: 32px;
    float: left;
}

.tcar-item:nth-child(1) {
    margin-left: 0px;
}

.tcar-item-logo {
    position: absolute;
    width: 138px;
    height: 80px;
    left: 92px;
    top: 11px;
}

.tcar-item-title {
    position: absolute;
    width: 231px;
    height: 78px;
    left: 47px;
    top: 91px;
}

h4 {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    text-align: center;

    color: #FFFFFF;
}

.teams-btn {
    position: absolute;
    width: 178px;
    height: 40px;
    left: calc(50% - 178px/2);
    top: 2000px;
    background-color: #552DC2;
}

.teams-btn-txt {
    position: absolute;
    width: 102px;
    height: 24px;
    left: calc(50% - 51px);
    top: calc(50% - 12px);

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: white;
}

.teams-btn:hover {
    cursor: pointer;
    box-shadow: 0 0 15px rgb(104, 55, 238);
}

.stt-cont {
    position: absolute;
    width: 1036px;
    height: 342px;
    left: calc(50% - 518px);
    bottom: 0px;
}

.stt-img {
    position: absolute;
    width: 558px;
    height: 342px;
    left: 0px;
    bottom: 0px;
}

.stt-title {
    position: absolute;
    width: 203px;
    height: 39px;
    left: 572px;
    top: 72px;
    z-index: 2;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    color: white;
}

.stt-txt {
    position: absolute;
    width: 467px;
    height: 135px;
    left: 572px;
    top: 120px;
    display: flex;
    z-index: 2;
}

h1 {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    text-align: justify;
    line-height: 26px;
    color: white;
}

/* MATCHES */

#matches {
    position: relative;
    width: 100%;
    height: 170vh;
    display: none;
}

.mbg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #260A73;
}

.mbg-ornament {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 240px;
}

.mbg-overlay-btm {
    position: absolute;
    width: 100%;
    height: 226px;
    bottom: 0px;
    background-image: linear-gradient(to bottom, rgb(0,0,0,0), rgba(0,0,0,1));
}

.game-menu-cont {
    position: absolute;
    width: 139px;
    height: 215px;
    left: 170px;
    top: 272px;
}

.game-txt {
    position: relative;
    width: 100%;
    height: 24px;
    margin-top: 24px;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    text-align: right;

    color: #ffffff;
}

.game-txt.active {
    color: rgb(104, 55, 238);
}

.game-txt:nth-child(1) {
    margin-top: 0px;
}

.game-txt:hover {
    cursor: pointer;
    color: rgb(104, 55, 238);
}

.vline {
    position: absolute;
    width: 0px;
    height: 223px;
    left: 342px;
    top: 269px;
    background-color: white;

    border: 3px solid #FFFFFF;
    border-radius: 6px;
}

.info-cont {
    position: absolute;
    width: 980px;
    height: 326px;
    left: 384px;
    top: 272px;
    animation: entrance 1s 1;
}

@keyframes entrance {
    0% { left: 500px; opacity: 0;}

    80% { left: 385px; opacity: 0.9;}

    99% { left: 384.1px; opacity: 0.99;}

    100% { left: 384px; opacity: 1;}
}

#matches-PUBGM {
    display: none;
}

.s-logo {
    position: absolute;
    width: 56px;
    height: 56px;
    left: 0px;
    top: 0px;
}

.l-logo {
    position: absolute;
    width: 326px;
    height: 100%;
    left: 90px;
    top: 0px;
}

.info-title {
    position: absolute;
    width: calc(980px - 457px);
    height: 39px;
    left: 457px;
    top: 0px;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;

    color: white;
}

.info-txt {
    position: absolute;
    width: calc(980px - 457px);
    height: calc(326px - 58px);
    left: 457px;
    top: 58px;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    color: #FFFFFF;
}

.recent-title {
    position: absolute;
    width: 145px;
    height: 29px;
    left: 384px;
    top: 622px;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: white;
}

.recent-cont {
    position: absolute;
    width: 810px;
    height: 378px;
    left: 384px;
    top: 683px;
    z-index: 2;
    animation: fadeIn 2s;
}

.recent-card {
    position: relative;
    width: 391px;
    height: 175px;
    left: 0px;
    top: 0px;
    background-color: #232323;
    margin-bottom: 28px;
    margin-right: 28px;
    box-shadow: 0 0 15px rgb(22, 22, 22 / 0.7);
    float: left;
}

.recent-card:nth-child(even) {
    margin-bottom: 0px;
    margin-right: 0px;
}

.card-ovl {
    position: absolute;
    width: 100%;
    height: 43px;
    left: 0px;
    top: 0px;

    background-color: #363636;
}

.card-line-top {
    position: absolute;
    width: 100%;
    height: 8px;
    top: 0px;

    background-color: #916FEC;
}

.card-line-ctr1 {
    position: absolute;
    width: 85px;
    height: 3px;
    left: 0px;
    top: 44px;

    background-color: #916FEC;
}

.card-line-ctr2 {
    position: absolute;
    width: 85px;
    height: 3px;
    right: 0px;
    top: 44px;

    background-color: #916FEC;
}

.card-line-btm1 {
    position: absolute;
    width: 85px;
    height: 3px;
    left: 0px;
    bottom: 23px;

    background-color: #916FEC;
}

.card-line-btm2 {
    position: absolute;
    width: 85px;
    height: 3px;
    right: 0px;
    bottom: 23px;

    background-color: #916FEC;
}

.card-date {
    position: absolute;
    width: 160px;
    height: 16px;
    left: 16px;
    top: 18px;
    z-index: 2;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    color: white;
}

.card-i {
    position: absolute;
    width: 160px;
    height: 16px;
    right: 16px;
    top: 18px;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    text-align: right;
    color: white;
}

.card-logo1 {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 35px;
    top: 90px;
}

.card-logo2 {
    position: absolute;
    width: 50px;
    height: 50px;
    right: 35px;
    top: 90px;
}

.card-title {
    position: absolute;
    width: 100%;
    height: 24px;
    top: 56px;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
}

.card-numb1 {
    position: absolute;
    width: 44px;
    height: 44px;
    left: 122px;
    top: 94px;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    color: white;
}

.card-numb2 {
    position: absolute;
    width: 44px;
    height: 44px;
    right: 122px;
    top: 94px;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    color: white;
}

.card-vs {
    position: absolute;
    width: 32px;
    height: 32px;
    left: calc(50% - 16px);
    top: 103px;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
}

/* NEWS */

#news {
    position: relative;
    width: 100%;
    height: 1480px;
    display: block;
}

.nbg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #260A73;
}

.nbg-overlay-btm {
    position: absolute;
    width: 100%;
    height: 226px;
    bottom: 0px;
    background-image: linear-gradient(to bottom, rgb(0,0,0,0), rgba(0,0,0,1));
}

.hr-line {
    position: absolute;
    width: 1160px;
    height: 0px;
    left: 172px;
    top: 228px;
    background-color: white;

    border: 2px solid #FFFFFF;
    border-radius: 6px;
}

.main-n-car {
    position: absolute;
    width: 1160px;
    height: 384px;
    left: 172px;
    top: 256px;
    background-color: white;
}

.mn-card {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #232323;
    box-shadow: 0 8px 15px rgb(23, 23, 23, 50%);
}

.mn-image {
    position: absolute;
    width: 571px;
    height: 384px;
    left: 0px;
    top: 0px;
    background-color: white;
}

.mn-top-line {
    position: absolute;
    width: calc(100% - 571px);
    height: 8px;
    right: 0px;
    top: 0px;

    background-color: #916FEC;
}

.mn-lbl-ovl {
    position: absolute;
    width: 132px;
    height: 32px;
    left: 571px;
    top: 32px;

    background-color: #363636;
}

.mn-lbl-txt {
    position: absolute;
    width: calc(100% - 8px);
    height: 18px;
    right: 8px;
    top: calc(50% - 9px);

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    text-align: right;
    color: #FFFFFF;
}

.mn-date {
    position: absolute;
    width: calc(100% - 719px);
    height: 16px;
    right: 0px;
    top: 40px;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    color: white;
}

.mn-title {
    position: absolute;
    width: calc(100% - 624px);
    height: 78px;
    left: 600px;
    top: 88px;
    display: flex;
    flex-wrap: nowrap;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    color: #FFFFFF;
}

.mn-txt {
    position: absolute;
    width: calc(100% - 624px);
    height: 107px;
    left: 600px;
    top: 180px;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: justify;
    color: #FFFFFF;
}

.mn-btn {
    position: absolute;
    width: 124px;
    height: 40px;
    left: 600px;
    bottom: 32px;
    background-color: #552DC2;
}

.mn-btn:hover {
    cursor: pointer;
    box-shadow: 0 0 15px rgb(104, 55, 238);
}

.mn-btn-txt {
    position: absolute;
    width: 100%;
    height: 16px;
    top: calc(50% - 8px);

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    color: white;
}

.n-car {
    position: absolute;
    width: 1160px;
    height: 542px;
    left: 172px;
    top: 698px;
}

.n-card {
    position: relative;
    width: 360px;
    height: 270px;
    margin-right: 40px;
    float: left;
}

.n-card:hover {
    cursor: pointer;
    box-shadow: 0 0 20px rgba(61, 28, 211, 0.5);
    z-index: 2;
}

.n-card:nth-child(3n+3) {
    margin-right: 0px;
}

.n-image {
    position: absolute;
    width: 100%;
    height: 152px;
    top: 0px;
    background-color: #969696;
}

.n-lbl-ovl {
    position: absolute;
    width: 132px;
    height: 32px;
    left: 0px;
    bottom: 68px;
    background-color: #363636;
    display: flex;
}

.n-lbl-txt {
    position: absolute;
    width: 100%;
    height: 18px;
    top: calc(50% - 9px);

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
}

.n-date {
    position: absolute;
    width: calc(100% - 148px);
    height: 16px;
    right: 0px;
    top: 177px;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    color: #FFFFFF;
}

.n-title {
    position: absolute;
    width: 100%;
    height: 48px;
    bottom: 10px;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-align: left;
    color: #FFFFFF;
    text-align: justify;
}

/* PARTNERS */

#partners {
    position: relative;
    width: 100%;
    height: 796px;
    display: none;
}

.pbg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #260A73;
}

.pbg-overlay-btm {
    position: absolute;
    width: 100%;
    height: 226px;
    bottom: 0px;
    background-image: linear-gradient(to bottom, rgb(0,0,0,0), rgba(0,0,0,1));
}

.plogo-cont {
    position: absolute;
    width: 680px;
    height: 320px;
    left: 179px;
    top: 213px;
}

.plogo {
    position: relative;
    width: 170px;
    height: 160px;
    float: left;
}

.ptitle {
    position: absolute;
    width: 284px;
    height: 28px;
    left: 918px;
    top: 206px;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    text-align: left;
    color: #FFFFFF;
}

.ptxt {
    position: absolute;
    width: 332px;
    height: 130px;
    left: 918px;
    top: 254px;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    text-align: justify;
    color: #FFFFFF;
}

/* CONTACT */

#contact {
    position: relative;
    width: 100%;
    height: 796px;
    display: none;
}

.cbg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #260A73;
}

.cbg-overlay-btm {
    position: absolute;
    width: 100%;
    height: 226px;
    bottom: 0px;
    background-image: linear-gradient(to bottom, rgb(0,0,0,0), rgba(0,0,0,1));
}

.map-cont {
    position: absolute;
    width: 504px;
    height: 432px;
    left: 171px;
    top: 208px;
}

.cmap {
    position: absolute;
    width: 100%;
    height: 168px;
    top: 0px;
    background-color: grey;
}

.c-add {
    position: absolute;
    width: 100%;
    height: 24px;
    top: 192px;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-align: left;
    color: #FFFFFF;
}

.c-add-txt {
    position: absolute;
    width: 100%;
    height: 38px;
    top: 230px;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-align: justify;
    color: #FFFFFF;
}

.c-partner {
    position: absolute;
    width: 100%;
    height: 24px;
    top: 304px;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-align: left;
    color: #FFFFFF;
}

.c-p-phone {
    position: absolute;
    width: calc(100%/2);
    height: 16px;
    bottom: 75px;
    
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    text-align: left;
    color: #FFFFFF;
}

.c-p-phone-txt {
    position: absolute;
    width: calc(100%/2);
    height: 16px;
    bottom: 52px;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-align: left;
    color: #FFFFFF;
}

.c-p-email {
    position: absolute;
    width: calc(100%/2);
    height: 16px;
    right: 0px;
    bottom: 75px;
    
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    text-align: left;
    color: #FFFFFF;
}

.c-p-email-txt {
    position: absolute;
    width: calc(100%/2);
    height: 16px;
    right: 0px;
    bottom: 52px;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-align: left;
    color: #FFFFFF;
}

.input-cont {
    position: absolute;
    width: 640px;
    height: 432px;
    right: 172px;
    top: 207px;
}

.name {
    position: absolute;
    width: 100%;
    height: 18px;
    top: 0px;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    text-align: left;
    color: #FFFFFF;
}

.name-line {
    position: absolute;
    width: 100%;
    height: 0px;
    top: 76px;
    background-color: #6946C8;

    border: 2px solid #6946C8;
    border-radius: 6px;
}

.email {
    position: absolute;
    width: 100%;
    height: 18px;
    top: 100px;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    text-align: left;
    color: #FFFFFF;
}

.email-line {
    position: absolute;
    width: 100%;
    height: 0px;
    top: 177px;
    background-color: #6946C8;

    border: 2px solid #6946C8;
    border-radius: 6px;
}

.comment {
    position: absolute;
    width: 100%;
    height: 18px;
    top: 200px;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    text-align: left;
    color: #FFFFFF;
}

.comment-line {
    position: absolute;
    width: 100%;
    height: 0px;
    top: 350px;
    background-color: #6946C8;

    border: 2px solid #6946C8;
    border-radius: 6px;
}

.input-btn {
    position: absolute;
    width: 136px;
    height: 44px;
    right: 0px;
    bottom: 0px;
    background-color: #552DC2;
}

.input-btn-txt {
    position: absolute;
    width: 100%;
    height: 16px;
    top: calc(50% - 8px);

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
}

.input-btn:hover {
    cursor: pointer;
    box-shadow: 0 0 15px rgb(104, 55, 238);
}

/* FOOTER */

.footer {
    position: relative;
    width: 100%;
    height: 232px;
    left: 0px;
    background-color: black;
    z-index: 2;
}

.ftr-logo {
    position: absolute;
    width: 82px;
    height: 58px;
    left: 109px;
    top: 35px;
}

.ftr-copyright {
    position: absolute;
    width: 71px;
    height: 15px;
    left: 109px;
    top: 109px;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: white;
}

.socmed-cont {
    position: absolute;
    width: 256px;
    height: 32px;
    right: 112px;
    top: 44px;
}

.socmed-icon {
    position: relative;
    width: 32px;
    height: 100%;
    margin-left: 24px;
    float: left;
}

.socmed-icon:nth-child(1) {
    margin-left: 0px;
}

.ftr-email-txt {
    position: absolute;
    width: 138px;
    height: 19px;
    right: 107px;
    top: 106px;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: white;
}

/* TEAMS EXTENDED */

#teams {
    position: relative;
    width: 100%;
    height: 1778px;
    display: none;
    background-color: #260A73;
}

.teams-bg {
    position: absolute;
    width: 100%;
    height: 100%;
}

.teams-cont {
    position: absolute;
    width: 1041px;
    height: 1463px;
    top: 176px;
    left: calc(50% - 520.5px);
    z-index: 3;
}

.game-teams-cont {
    position: relative;
    width: 100%;
    height: 453px;
    top: 0px;
    margin-top: 52px;
}

.game-teams-cont:nth-child(1) {
    margin-top: 0px;
}

.g-teams-logo {
    position: absolute;
    width: 102px;
    height: 74px;
    left: 0px;
    top: 0px;
}

.g-teams-logo img {
    position: absolute;
    object-fit: cover;
    width: 100%;
}

.g-teams-ttl {
    position: absolute;
    width: calc(100% - 110px);
    height: 32px;
    left: 110px;
    top: 15px;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 29px;

    color: #FFFFFF;
}

.g-teams-line {
    position: absolute;
    height: 3px;
    width: 100%;
    top: 74px;
    background-color: white;
}

.g-teams-car-cont-ml,
.g-teams-car-cont-pubgm,
.g-teams-car-cont-wr {
    position: absolute;
    width: 100%;
    height: 348px;
    bottom: 0px;
    overflow-x: hidden;
}

.g-teams-inner-cont {
    position: absolute;
    height: 100%;
    left: 0px;
    display: inline-flex;
}

.g-teams-card {
    position: relative;
    width: 220px;
    height: 100%;
    margin-right: 24px;
    float: left;
    background-color: black;
}

.g-teams-card:nth-last-child(1) {
    margin-right: 0px;
}

.g-teams-img {
    position: absolute;
    width: 100%;
    height: 75%;
    top: 0px;
}

.g-teams-img img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.g-teams-ovl {
    position: absolute;
    width: 100%;
    height: 35%;
    bottom: 25%;
    background-image: linear-gradient(to bottom, rgb(0,0,0,0), rgba(0,0,0,1));
}

.g-teams-name {
    position: absolute;
    width: calc(100% - 24px);
    height: 24px;
    left: 24px;
    top: 208px;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    color: #FFFFFF;
}

.g-teams-nick {
    position: absolute;
    width: calc(100% - 24px);
    height: 14px;
    left: 24px;
    top: 233px;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 14px;

    color: #FFFFFF;
}

.g-teams-txt {
    position: absolute;
    width: calc(100% - (24px + 16px));
    height: 33px;
    left: 24px;
    top: 256px;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 11px;
    text-align: left;

    color: #FFFFFF;
}

.g-t-role-cont {
    position: absolute;
    width: 92px;
    height: 32px;
    left: 24px;
    top: 303px;
}

.g-t-role-ttl {
    position:  absolute;
    width: 100%;
    height: 10px;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;

    color: #FFFFFF;
}

.g-t-role-txt {
    position: absolute;
    width: 100%;
    height: calc(100% - 10px);
    bottom: 0px;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;

    color: #FFFFFF;
}

.g-t-flag-cont {
    position: absolute;
    width: calc(100% - 116px);
    height: 37px;
    left: 116px;
    top: 303px;
}

.g-t-flag-ttl {
    position: absolute;
    width: 100%;
    height: 10px;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;

    color: #FFFFFF;
}

.g-t-flag-img {
    position: absolute;
    width: 36px;
    height: 24px;
    left: 0px;
    bottom: 0px;
}

.g-t-flag-img img {
    position: absolute;
    object-fit: cover;
    height: 100%;
}
